#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  border: solid black;
  background-color: rgba(87, 87, 87, 0.61);
  color: rgb(212, 245, 92);
  font-size: 60px;
  padding: 35px;
  margin-bottom: 55px;
}

h2 {
  margin-top: 80px;
  font-size: 50px;
  color: rgb(2, 255, 2);
  border: solid black 5px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.493);
}

.form-fields {
  color: rgb(212, 245, 92);
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 30px;
}

.displayOne-page {
  padding: 35px;
  text-align: center;
  border-style: ridge;
  border-radius: 30px;
  border-color: white;
  background-color: rgba(19, 19, 19, 0.555);
}

.displayOne-header {
  margin: auto;
  padding: 20px;
}

.submit-btn {
  background-color: rgb(139, 125, 0);
  margin: 5px;
  padding: 15px;
  width: 120px;
  border-radius: 30px;
  height: 60px;
}

.delete-btn {
  background-color: rgb(139, 125, 0);
  padding: 8px;
  margin: 10px;
  border-radius: 30px;
  height: 60px;
}

.logout-btn {
  background-color: rgb(139, 125, 0);
  padding: 8px;
  margin: 10px;
  border-radius: 30px;
  height: 60px;
}

.edit-btn {
  background-color: rgb(139, 125, 0);
  padding: 8px;
  margin: 10px;
  width: 80px;
  border-radius: 30px;
  height: 60px;
}

.home-btn {
  background-color: rgb(139, 125, 0);
  padding: 8px;
  margin: 10px;
  width: 80px;
  border-radius: 30px;
  height: 60px;
}

.admit-btn {
  background-color: rgb(139, 125, 0);
  padding: 8px;
  margin: 10px;
  border-radius: 30px;
  height: 60px;
}

.details-btn {
  background-color: rgb(139, 125, 0);
  padding: 8px;
  margin: 10px;
  border-radius: 30px;
  height: 60px;
}

.update-rec-btn {
  background-color: rgb(139, 125, 0);
  padding: 8px;
  margin: 10px;
  width: 80px;
  border-radius: 30px;
  height: 60px;
}

button:hover{
  background-color: rgb(156, 116, 57);
}

.errors {
  color: red;
}

.display-all-bx {
  border-style: ridge;
  border-radius: 30px;
  padding: 15px;
  margin: 15px;
  background-color: rgba(36, 36, 36, 0.521);
  color: gold;
  font-size: 30px;
}

.update-form {
  border-style: ridge;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.521);
}

.admit-form {
  border-style: ridge;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.568);
}

.register-form {
  border-style: ridge;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.466);
  color: rgb(212, 245, 92);
  font-size: 22px;
}

.login-form {
  border-style: ridge;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.459);
}
